<header class="container">
  <div class="top-header">
    <img id="logo" src="assets/images/logo2.png" alt="logo" />
    <!-- <button mat-button [matMenuTriggerFor]="belowMenu">Below</button> -->

    <div class="user-card-profile" mat-button [matMenuTriggerFor]="belowMenu">
      <div class="user-card-profile-detail">
        <p class="user-receptive">
          Olá, <a> {{ currentUser?.codename }} </a>
        </p>
        <p>{{ currentUser?.graduation }}</p>
      </div>
      <div class="area-avatar">
        <img class="circular-avatar" [src]="currentUser?.imageUrl" />
      </div>
    </div>
    <mat-menu class="below-menu" #belowMenu="matMenu" yPosition="below">
      <div class="show-menu-card">
        <mat-card class="user-options-card">
          <!-- <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header> -->
          <img
            mat-card-image
            [src]="currentUser?.imageUrl"
            [alt]="currentUser?.name"
          />
          <!-- <mat-card-content>

          </mat-card-content> -->
          <mat-card-actions>
            <button mat-button>Planos</button>
          </mat-card-actions>
          <mat-card-actions>
            <button mat-button>Sobre</button>
          </mat-card-actions>
          <mat-card-actions>
            <button mat-button>Suas Agendas</button>
          </mat-card-actions>
          <mat-card-actions>
            <button mat-button>Suas turmas</button>
          </mat-card-actions>
          <mat-card-actions>
            <button mat-button>Configuraçoes</button>
          </mat-card-actions>
          <mat-card-actions>
            <button (click)="SignOut()" mat-button>Sair</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-menu>
  </div>

  <div class="bottom-header">
    <div class="content-header">
      <ul>
        <li routerLink="/home">Inicio</li>
        <li *ngIf="currentUser!.isAdmin" routerLink="/students">Alunos</li>
        <li routerLink="/sports">Turmas</li>
        <li routerLink="/training_places">Dojos</li>
        <li routerLink="/help">Ajuda</li>
        <li class="sign-out-button" (click)="SignOut()">Sair</li>
      </ul>
    </div>
  </div>
</header>
