<header class="container">
  <div class="top-header">
    <img id="logo" src="assets/images/logo2.png" alt="logo" />
    <div class="user-card-profile">
      <div class="user-card-profile-detail">
        <p class="user-receptive">Olá, <a> user.name </a></p>
        <p>Sensei</p>
      </div>
      <div class="area-avatar">
        <img class="circular-avatar" [src]="" />
      </div>
    </div>
  </div>

  <div class="bottom-header">
    <div class="content-header">
      <ul>
        <li routerLink="/home">Inicio</li>
        <li routerLink="/students">Alunos</li>
        <li routerLink="/training_places">Locais de Treino</li>
        <li routerLink="/sports">Turmas e Horários</li>
        <li class="sign-out-button" (click)="SignOut()">Sair</li>
      </ul>
    </div>
  </div>
</header>
