<div class="container">
  <img id="central-image" [src]="decorationImageUrl" alt="Imagem principal" />

  <div class="action-login">
    <img id="logo" src="assets/images/logo.png" alt="logo" />
    <h3>Faça Seu Login</h3>
    <mat-divider></mat-divider>
    <form [formGroup]="userForm" class="form-area">
      <input
        formControlName="login"
        type="email"
        formGroupName="login"
        class="form-field"
        placeholder="E-mail"
      />
      <input
        formControlName="password"
        type="password"
        formGroupName="password"
        class="form-field"
        placeholder="Senha"
      />
      <button class="enter-button" (click)="validateLogin(userForm)" type="button">Entrar</button>
      <button
        type="button"
        class="back-login-button"
        (click)="redirectToRegister()"
      >
        Nao possuo conta, Cadastrar-me.
      </button>
    </form>
  </div>
</div>
