<div class="container">
  <div class="action-login">
    <img id="logo" src="assets/images/logo.png" alt="logo" />
    <h3>Crie sua conta conosco</h3>
    <mat-divider></mat-divider>
    <form [formGroup]="userForm" class="form-area">
      <input
        formControlName="login"
        type="text"
        class="form-field"
        placeholder="Nome"
      />
      <input
        formControlName="email"
        type="email"
        class="form-field"
        placeholder="E-mail"
      /><input
        formControlName="document"
        type="text"
        class="form-field"
        placeholder="CPF / RG"
      />
      <input
        formControlName="password"
        type="password"
        class="form-field"
        placeholder="Sua Senha"
      />
      <div class="register-options-buttons">
        <button
          (click)="redirectToLogin()"
          type="button"
          class="back-login-button"
        >
          Fazer Login
        </button>
        <button
          (click)="handleRegisterUser(userForm)"
          type="button"
          class="register-button"
        >
          Cadastrar
        </button>
      </div>
      <button routerLink="/help" type="button" class="help-register-button">
        Preciso de Ajuda
      </button>
    </form>
  </div>
  <img id="central-image" [src]="decorationImageUrl" alt="Imagem" />
</div>
