<app-header></app-header>
<div class="container">
  <h2 class="title-text-page" *ngIf="titleText">{{ titleText }}</h2>
  <h2 class="title-text-page" *ngIf="!titleText">Sem titulo</h2>
  <div class="content-page">
    <div class="users-page-data">
      <div class="students-option">
        <p>Add novo_</p>
      </div>
      <div class="students-option">
        <p>Pesquisar_</p>
      </div>
      <div class="students-option">
        <p>Outro_</p>
      </div>
    </div>
    <div class="principal-users-page">
      <div class="student-scroll">asas</div>
    </div>
  </div>
</div>
