<app-header></app-header>
<div class="container">
  <h2 class="title-text-page" *ngIf="titleText">{{ titleText }}</h2>
  <h2 class="title-text-page" *ngIf="!titleText">Sem titulo</h2>

  <div class="content-page">
    <div class="users-page-data">
      <div routerLink="/students/create" class="students-option">
        <p><mat-icon>add_to_photos</mat-icon> Cadastrar Aluno</p>
      </div>
      <div (click)="openBottomSheetFilter()" class="students-option">
        <p><mat-icon>filter_list</mat-icon> Filtar Alunos</p>
      </div>
      <div routerLink="/help" class="students-option">
        <p><mat-icon>help</mat-icon> Ajuda</p>
      </div>
      <div class="description-page">
        <p>
          Aqui estao Listados todos os alunos de sua equipe, Você poderá filtrar
          alguns caso queira.
        </p>
      </div>
    </div>
    <div class="principal-users-page">
      <div class="student-scroll">
        <div
          class="students-list"
          *ngFor="let student of students"
          [routerLink]="['/student', student.id]"
        >
          <img
            class="user-image"
            [src]="student.imageUrl"
            [alt]="student.name"
          />

          <div class="description-student-card">
            <p>{{ student.name }}</p>
            <p>{{ student.graduation }}</p>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
