.container {
  padding: 3em;
  align-items: center;
}
.top-content-area {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.contact-text {
  width: 25em;
  height: 10em;
  padding: 25px;
  margin: 2em;
  font-size: 18px;
  color: #282a36;
}
.contact-help {
  width: 30em;
  align-items: center;
  border: 1px solid #282a36;
  height: 11em;
  border-radius: 6px;
  padding: 25px;
  margin: 2em;
}
.title-text-page {
  padding: 0.4em 0.8rem;
  width: 20%;
  // height: 2em;
  border-left: 5px solid #50fa7b;
  display: flex;
  flex-direction: row;
  margin: 0 3%;
  margin-top: 2%;
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
// .container mat-accordion {
//   // padding: 0 1em;
// }
.container mat-expansion-panel {
  border-left: 4px solid #42fd71;
}
.contact {
  font-size: 16px;
  font-style: normal;
  border-right: 2px solid #50fa7b;
  padding: 1px 5px;
  background-color: #eeeeee;
}
