.container {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.container #central-image {
  width: 60%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 25px grey;
}
.container .action-signup {
  width: 40%;
  // padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  // margin-bottom: 2em;
  // margin-top: 1em;
}
.container .action-signup h3 {
  font-size: 18px;
  margin-bottom: 1em;
  font-weight: normal;
  font-weight: normal;
  color: #282a36;
}
.container .action-signup h3:hover {
  color: #000;
  cursor: default;
}
.container .action-signup #logo {
  object-fit: cover;
  padding: 0;
  padding: 0;
  height: 12em;
}
.container .action-signup .form-area {
  display: flex;
  // flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container .action-signup .form-area .form-field mat-form-field {
  // margin: 0 5px;
  padding: 0;
}

.container .action-signup .form-area .register-options-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 2em;
  margin: 3em 0;
  button {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
  .register-button {
    color: white;
    width: 10em;
    height: 2.5em;
    border: 2px solid #000;
    background-color: #282a36;
  }
  .register-button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #282a36;
  }
  .back-login-button {
    align-self: baseline;
    font-weight: normal;
    border: none;
    background-color: transparent;
    color: #282a36;
  }
  .back-login-button:hover {
    cursor: pointer;
    color: #000;
  }
}
.help-register-button {
  margin-top: 1em;
  align-self: flex-start;
  font-size: 17px;
  font-weight: normal;
  border: none;
  background-color: transparent;
  color: #282a36;
}
.help-register-button:hover {
  cursor: pointer;
  color: #000;
}
