<app-header></app-header>
<div class="container" *ngIf="student; else templateteste">
  <h2 class="title-text-page" *ngIf="titleText">{{ titleText }}</h2>

  <div class="user-data-area">
    <div class="detail-content">
      <img [src]="student.imageUrl" [alt]="student.name" />
      <div class="title-detail-content">
        <h1>{{ student.name }}</h1>
        <h2>Graduaçao: {{ student.graduation }}</h2>
        <div class="admin-detail">
          <button type="button" class="option-button">Editar</button>
          <button
            type="button"
            class="option-button"
            (click)="addStudentInClass(student.id)"
          >
            Add
          </button>

          <button
            type="button"
            class="option-button"
            (click)="removeStudent(student.id)"
          >
            Excluir
          </button>
        </div>
      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Detalhes </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="admin-detail">
          <p>{{ student.graduation }}</p>
          <p>
            Ultima graduaçao:
            {{ student.last_graduation_date | date: "dd/MM/yyyy" }}
          </p>

          <div></div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Observaçoes </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="admin-detail-2">
          <p>{{ student.details }}</p>
          <p>{{ student.lastGraduationDetail }}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Detalhes Pessoais </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="admin-detail">
          <p>Idade: {{ student.age }} anos</p>
          <p>CPF: {{ student.cpf | cpf: true }}</p>
          <p>{{ student.email }}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Detalhes financeiros </mat-panel-title>
          <!--
          <mat-panel-description>  </mat-panel-description> -->
        </mat-expansion-panel-header>
        <div class="admin-detail">
          <p>{{ student.paymentDetail | currency: "BRL" }}</p>
          <div
            *ngIf="student.montlyPayment; else noPayment"
            class="pagamento-em-dia"
          >
            Pago
          </div>
          <ng-template #noPayment>
            <div class="no-pagamento-em-dia">Em Atraso</div>
          </ng-template>
          <div></div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<ng-template #templateteste><app-not-data></app-not-data></ng-template>
