<app-header></app-header>
<h2 class="title-text-page" *ngIf="titleText">{{ titleText }}</h2>
<div class="container" *ngIf="student; else templateteste">
  <img [src]="student.imageUrl" [alt]="student.name" />
  <div class="detail-content">
    <h1>{{ student.name }}</h1>
    <h2>{{ student.email }}</h2>
    <!-- <h2>{{ student.name }}</h2> -->
    <div class="admin-detail">
      <p>Mensalidade:R$ {{ student.paymentDetail }}</p>
      <p>Ultimo Pagamento: {{ student.startDate }}</p>
      <div
        *ngIf="student.paymentInDay; else noPayment"
        class="pagamento-em-dia"
      >
        Pago
      </div>
      <ng-template #noPayment>
        <div class="pagamento-em-dia">Em Atraso</div>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #templateteste><p>Sem estudantes</p></ng-template>
