.container {
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-self: center;
  text-overflow: ellipsis;
  margin-top: 2em;
}
.container h1 {
  border-left: 5px solid #50fa7b;
  margin-left: 1em;
  padding: 0.3em 1em;
}
.container .post {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.container .post .post-card {
  margin: 6%;
  // padding:  20px 0;
  box-shadow: 5px 10px 20px #bebebe;
  max-width: 17.5em;
  max-height: 27em;
}
.container .post .post-card img {
  max-width: 100%;
  max-height: 45%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  align-self: center;
}
.container .post .post-card p {
  padding: 10px;
  text-overflow: ellipsis;
  max-lines: 3;
  overflow: hidden;
  white-space: nowrap;
}
