$primary-color: 001219;
$color-default-white: #fff;
$secondary-color-green: #50fa7b;
$pink-color: #ff79c6;
$dark-color: #282a36;
$color-default-primary: #355c7d;
$color-default-texts: #000;
$color-default-border: #dddddd;
$color-default-texts-nav: rgba(55, 55, 55, 0.75);
$color-default-grey-light: #dddddd;
$color-default-grey-light-2: #ededed;
$color-box-shadow-default: rgba(0, 0, 0, 0.2);
$color-aviso-danger: #ff5555;
$color-default-background-input: #fcfcfc;
$color-default-sucess: green;
$color-default-botao: #355c7d;
