<div class="container" *ngIf="posts">
  <h1>Descubra mais material</h1>
  <div class="post">
    <mat-card class="post-card" *ngFor="let post of posts">
      <img mat-card-image [src]="post.imageUrl" [alt]="post.title" />

      <div class="mat-card-content">
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>{{ post.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ post.content }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Saiba mais</button>
          <button mat-button>Compartilhar</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>

<app-not-found *ngIf="!posts"></app-not-found>
