.content-card {
  width: 10em;
  height: 10em;
  display: grid;
  padding: 10px;
}
.container .content-card img {
  width: 100%;
  height: 50%;
  display: grid;
  padding: 10px;
}
.mat-card-image {
  white-space: normal;
}
